@font-face {
    font-family: 'monaco'; /* Name your font family */
    src: url('monaco.ttf'); /* Locate the .ttf file within your directory*/
}
html, body {
    height: 100%;
    margin: 0;
    font-family: monaco; 
    background-color: #f9f9f9;
    background-image: url("minecraft.jpg");
}
.form {
    width: 55%;
    padding: 3%;
    font-size: 14px;
    margin: 1%;
}
textarea, textarea::placeholder {
    font-family: monaco;
    font-size: 3vw;
}
#inputString {
    resize: none;
    width: 100%;
    height: 100px;
    max-height: 100px;
    max-width: 100%;
    min-height: 100px;
    min-width: 100%;
    border: 7px solid #000; 
    border-radius: 2.5px; 
    padding: 3%;
    box-sizing: border-box; /* Fix for padding overflow */
    outline: none; /* Disable blue outline on focus */
    color: #C0C0C0; /* Gray text color */
    background-color: #2C2C2C; /* Dark gray background */
    text-shadow: 
        1px 1px 0 #000, /* Black shadow to mimic blocky text */
        1px 1px 2px rgba(0, 0, 0, 0.5); /* Slight blurred shadow for depth */
    border: 2px solid #000; /* Black border for Minecraft-style */
    box-shadow: 
        inset 1px 1px 3px rgba(0, 0, 0, 0.5); /* Inset shadow for 3D effect */
}
.buttonsContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 1% 1% 1%;

}
.buttons {
    position: relative;
}
.buttons input {
    position: absolute;
    opacity: 0;
}
.buttons label {
    display: inline-block;
    background-color: #ddd;
    border-radius: 2.5px;
    border-bottom: solid 4px #bbb;
    padding: 10px 30px;
    width: 12vw;
    margin: 0 4px 4px 4px;
    vertical-align: bottom;
    
    font-size: 4vw;
    text-align: center;

    cursor: pointer;
    
}
.buttons:hover {
    color: white;
    
}
.buttons label:hover {
    background-color: green;
    border-bottom: solid 1px #bbb;
}
#submitButton {
    background-color: #ddd;
    width: 100%;
    padding: 10px 30px;
    font-family: monaco;
    font-size: 4vw;
    border-radius: 2.5px;
    
    border-bottom: solid 4px #bbb;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    vertical-align: bottom;
    text-align: center;
    cursor: pointer;
}
#submitButton:hover {
    color: white;
    background-color: green;
    border-bottom: solid 1px #bbb;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.titleContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
    color: rgb(40, 40, 40);
}
#title1, #title2 {
    font-size: 15vw; /* Adjust font size based on viewport width */
    letter-spacing: 1vw; /* spacing between letters */
    margin: 0;
    text-align: center;
    color: #C0C0C0; /* Gray color */
    -webkit-text-stroke: 2px black; /* Black border around letters */
    text-shadow: 
        3px 3px 0 #000, /* Black shadow for 3D effect */
        3px 3px 5px rgba(0, 0, 0, 0.5); /* Slight blurred shadow for depth */
}
#output {
    border: 0.25px solid;
    border-radius: 5px;
    width: 50%; 
    max-height: 400px;
    padding: 3%;
    overflow: auto; /* Allow scrolling if content overflows. */
    background-color: white;
    margin: 1%;
    text-align: center; 
    color: #888; 
}
code {
    white-space: pre; 
    font-size: 14px;
}
@media (max-width: 850px) { /* Responsive. */
    .form {
        width: 70%;
    }
    #output {
        width: 65%;
    }
    h1 {
        font-size: 1.5em;
    }
    #title1, #title2 {
        font-size: 21vw; /* Adjust font size based on viewport width */
    }
    textarea, textarea::placeholder {
        font-size: 4vw;
    }
}
