<!DOCTYPE html>
<html>
<head>
    <title>ASCII Art Web</title>
    <link rel="stylesheet" href="/static/style.css">
 
</head>
<body>

<h1>ASCII ART WEB</h1>



<div class="container">
    <div class="form">
        <form action="/ascii-art" method="POST">
            <label for="inputString">Enter your text:</label><br><br>
            <input type="text" id="inputString" name="inputString" required><br><br>
            <small>Use \n as a newline tag.</small><br><br>

            <input type="radio" id="standard" name="banner" value="standard" checked>
            <label for="standard">Standard</label><br>

            <input type="radio" id="shadow" name="banner" value="shadow">
            <label for="shadow">Shadow</label><br>

            <input type="radio" id="thinkertoy" name="banner" value="thinkertoy">
            <label for="thinkertoy">Thinkertoy</label><br><br>

            <input type="submit" id="submitButton" value="Generate ASCII art">
        </form>
    </div>
    <div id="output">
        <!-- Conditional block: This section only appears if the .InputString field is set in the template data. -->
        {{if .Output}}
            <code>{{.Output}}</code>
        {{else}}
            <p>Your ASCII art will appear here. Enter some text above and hit "Generate ASCII art" to see it!</p>
        {{end}}
    </div>
</div>
</body>
</html>
